images/back.jpg
        images/bed-sheets.jpg
        images/black-painted-metal.jpg
        images/blue_paint.png
        images/book-pages.jpg
        images/campo.jpg
        images/ceil.jpg
        images/crepe-paper.jpg
        images/door_wood.jpg
        images/enkei.jpg
        images/flag.jpg
        images/floor.jpg
        images/front.jpg
        images/grass.jpg
        images/gusto.png
        images/handle_plate.jpg
        images/intro-cg-back.jpg
        images/intro-cg-front.jpg
        images/intro-cg-spine.jpg
        images/intro-cg-stripe.jpg
        images/life_buoy.png
        images/metal.jpg
        images/net.jpg
        images/parede.jpg
        images/pine-wood.jpg
        images/plastic-edited.jpg
        images/red_metal.jpg
        images/scene.png
        images/sea.jpg
        images/skysphere/
        images/steel.jpg
        images/tar.png
        images/tire.png
        images/vidral.png
        images/wall.jpg
        images/wallpaper.jpg
        images/white-tabletop.jpg
        images/white_wood.jpg
        images/windowsXP.jpg
        images/wood_1.jpg
        images/wood_2.jpg
        images/world-map.jpg
        scenes/test.xml

.vscode
Screenshot_20201209_151553.png